VITE_SUPABASE_URL= "https://cgrrdtphdukmxovrputn.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNncnJkdHBoZHVrbXhvdnJwdXRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NTkzMTcsImV4cCI6MjA4OTAzNTMxN30.l2lYKnZ4gRSRHCDyCm7wqXt-fBSuvkVScoiz5VmdqFo
"
